<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="pwms_style.css">
</head>
<body ng-app="pwms">
	<section class="my-form" align="center">
		<br>
		<h2>Login Here</h2>
		<form name="login" action="" method="post">
			<div class="form-group">
				<label for="uname"><h3>Email ID:</h3></label>
				<input type="email" id="uname" name="uname" ng-model="uname" required> 
				<span ng-show="login.uname.$touched && login.uname.$invalid">
					<img height="20" width="20" src="../Images/cross_mark.png">
				</span>
				<span ng-show="login.uname.$valid" ng-hide="login.uname.$invalid">
					<img height="20" width="20" src="../Images/check_mark.png">
				</span>
			</div>
			<div class="form-group">
				<label for="pwd"><h3>Password:</h3></label>
				<input type="password" id="pwd" name="pwd" ng-model="pwd" required>
				<span ng-show="login.pwd.$touched && login.pwd.$invalid">
					<img height="20" width="20" src="../Images/cross_mark.png">
				</span>
				<span ng-show="login.pwd.$valid" ng-hide="login.pwd.$invalid">
					<img height="20" width="20" src="../Images/check_mark.png">
				</span> 
			</div>
			<br>
			<button type="submit" name="submit">Login</button>
		</form>
		<br>
	</section>
</body>
<script>
	app=angular.module("pwms",[]);
</script>
</html>