<html>
<head>
	<meta charset="UTF-8">
	<title>Register</title>
	<link rel="stylesheet" type="text/css" href="pwms_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.js"></script>
	<style>
		.form-group2{
			
		}
	</style>
</head>
<body ng-app="pwms">
	<section class="my-form2" align="center" style="background-color:Violet;">
		<br>
		<h2>Register here</h2>
		<form name="reg" action="" method="post">
			<span class="form-group">
				<label for="uname"><h3>Email ID:</h3></label>
				<input type="email" id ="uname" name="uname" ng-model="uname" required>
				<span ng-show="reg.uname.$touched && reg.uname.$invalid">
					<img height="20" width="20" src="../Images/cross_mark.png">
				</span>
				<span ng-show="reg.uname.$valid" ng-hide="reg.uname.$invalid">
					<img height="20" width="20" src="../Images/check_mark.png">
				</span>
			</span>
			<span class="form-group2">
				<label id="pwd"><h3>Password:</h3></label>
				<input type="password" id="pwd" name="pwd" ng-model="pwd" required>
				<span ng-show="reg.pwd.$touched && reg.pwd.$invalid">
					<img height="20" width="20" src="../Images/cross_mark.png">
				</span>
				<span ng-show="reg.pwd.$valid" ng-hide="reg.pwd.$invalid">
					<img height="20" width="20" src="../Images/check_mark.png">
				</span>
			</span>
			<span class="form-group">
				<label id="pwd2"><h3>Confirm Password:</h3></label>
				<input type="password" id="pwd2" name="pwd2" ng-model="pwd2" required>
				<span ng-show="reg.pwd2.$touched && reg.pwd2.$invalid">
					<img height="20" width="20" src="../Images/cross_mark.png">
				</span>
				<span ng-show="reg.pwd2.$valid" ng-hide="reg.pwd2.$invalid">
					<img height="20" width="20" src="../Images/check_mark.png">
				</span>
			</span>
			<br>
			<br>
			<button type="submit" name="submit">Signup</button>
		</form>
		<br>
	</section>
</body>
<script>
	app=angular.module("pwms",[]);
</script>
</html>
